<nav class="navbar navbar-expand-lg navbar-dark" style="background: #464646;">
    <div class="container">
        <a class="navbar-brand" href="#">Home</a>
    </div>
</nav>
<div class="container bg-light my-4" style="height: 700px;padding: 12px;">
    <!-- content -->
    <div class="listProduct">
        <div class="categorySelect">
            <form>
                <label>หมวดหมู่</label>
                <select  [(ngModel)]="selectedCategory" (change)="selectCategoryId()" [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="0" >ทั่งหมด</option>
                    <option *ngFor="let category of categoryList" [ngValue]="category.catagory_id">{{category.catagory_name}}</option>
                  </select>
            </form>
        </div>

        <div class="productPool" ng-repeat>
            <div class="product" *ngFor="let product of productList;let i = index" (click)="addProduct(product.product_id, product.product_price)">
                <div>{{ product.product_id }}</div> <br>
                <div>{{ product.product_price }}</div> <br>
                <div>{{ product.product_name }}</div> 
            </div>
        </div>
    </div>

    <div class="onSell">
        <div class="productSell" ng-repeat>
            <div class="contentInside"  *ngFor="let productInBill of currentBill;let i = index">
                <label>{{ productInBill.product_name }}</label>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x{{ productInBill.count }}</label>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ productInBill.count*productInBill.price }}</label><br>
                <a class="btn btn-danger" (click)="deleteProductInCurrent(productInBill.bill_current_id)">ลบ</a>
            </div>
        </div>
        <div class="submitSell">
            <a href="/payment">ชำระเงิน</a>
        </div>
    </div>




    <!-- content -->
</div>


<div class="footer text-center">Mini POS 2022</div>