<nav class="navbar navbar-expand-lg navbar-dark" style="background: #464646;">
    <div class="container">
        <a class="navbar-brand" href="#">Home</a>
    </div>
</nav>
<div class="container bg-light my-4" style="height: 700px;padding: 12px;">
    <!-- content -->
    <div class="listProduct">
        <div class="categorySelect">

        </div>
        <div class="product">

        </div>
    </div>

    <div class="onSell">

    </div>




    <!-- content -->
</div>


<div class="footer text-center">Mini POS 2022</div>