.listProduct {
    float:left;
    width:70%;
    height:676px;
    border:solid 2px red;
    text-align:center;
}

.categorySelect {
    float:left;
    width:100%;
    height:66px;
    border:solid 2px green;
    text-align:center;
}

.product {
    float:left;
    width:100%;
    height:610px;
    border:solid 2px blue;
    text-align:center;
}

.onSell {
    float:left;
    width:30%;
    height:676px;
    border:solid 2px green;
    text-align:center;
}