<nav class="navbar navbar-expand-lg navbar-dark" style="background: #464646;">
    <div class="container">
        <a class="navbar-brand" href="/pos_sale">Back</a>
    </div>
</nav>
<div class="container bg-light my-4" style="height: 700px;padding: 12px;">
    <!-- content -->    
    <div class="totalPrice">
        <h1>ยอดรวม : &nbsp;&nbsp; {{ this.currentBill[0].total }}</h1>
    </div>
    <div class="paymentMethod">

    </div>
    <div class="payment">

    </div>
    <div class="submit">
        <a class="btn btn-primary" (click)="createBill()">ชำระเงิน</a>
    </div>
    
    <!-- content -->
</div>


<div class="footer text-center">Mini POS 2022</div>